body {
  font-family: Verdana, Arial;
  color: #213547;
  background-color: #fafaff;
}
html,
body {
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}
#navbar {
  border-bottom: 2px solid #98bfe1;
}
